{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
       {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.

{relx, [{release, { erlpy_port, "0.1.0" },
         [erlpy_port,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
	{overlay_vars, "config/vars.config"},
	{overlay, [{template, "schema/erlpy_port.schema", "share/schema/00-erlpy_port.schema"}]},
        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{overrides,
  [
    {override, jsx, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
  ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
{project_plugins, [rebar3_cuttlefish]}.
